.App{
  /* margin: auto; */
  justify-content: center;
margin: 10%;
  display: flex;
/* text-align: center; */
}
table{
  border-collapse: collapse;
  text-align: center;
}
th,tr,td{
  border: solid 1px black;
  padding: 7px;
}

